{% extends 'base.html' %}
{% block header %}
<div class="navbar-fixed">
  <nav style="background-color: #fb0;">
    <div class="container">
      <div class="nav-wrapper">
        <a href="/dashboard" class="brand-logo"><i class="material-icons">keyboard_backspace</i>Dashboard</a>
      </div>
    </div>
  </nav>
</div>
{% endblock %}
{% block content %}
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col s4">
        <ul id="slide-out" class="side-nav">
          <li><a class="subheader">Organization Name</a></li>
          <li {% if Active=='contacts'%} class="active" {%endif%}><a class="waves-effect" href="/contact/view">Contacts</a></li>
          <li {% if Active=='leads'%} class="active" {%endif%}><a class="waves-effect" href="/lead/view">Leads</a></li>
        </ul>
      </div>
      <div class="col s8">
        {% block subcontent %}{% endblock %}
      </div>
    </div>
  </div>
</div>
{% endblock %}