{% extends 'main.html' %}

{% block title %}Login | SloopStash CRM{% endblock %}

{% block content %}
<div class="row">
  <div class="col s1 m1 l1"></div>
  <div class="col s15 m15 l15">
    <div class="block">
      <div class="block-header clearfix valign-wrapper">
        <div class="block-title left">
          <h2><i class="fa-solid fa-user"></i> Login</h2>
        </div>
        <div class="block-menu right"></div>
      </div>
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      <div class="flash-messages">
        {% for category, message in messages %}
        <div class="alert {{ category }}">
          {{ message }}
        </div>
        {% endfor %}
      </div>
      {% endif %}
      {% endwith %}

      <div class="block-content">
        <form class="form" method="post" autocomplete="off" action="/login">
          <div class="row">
            <div class="input-field col s24 m24 l24">
              <input id="username" name="username" type="text" data-length="50" maxlength="50" required>
              <label for="username">Username</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s24 m24 l24">
              <input id="password" name="password" type="password" data-length="50" maxlength="50" required>
              <label for="password">Password</label>
            </div>
          </div>
          <button type="submit" class="btn-small right">Login</button>
          <a class="btn-flat right" href="/signup">Don't have an account? Sign Up</a>
        </form>
      </div>
      <div class="block-footer">
        <div class="block-action right"></div>
      </div>
    </div>
  </div>
  <div class="col s8 m8 l8"></div>
</div>
{% endblock %}
