@media only screen and (min-width: 993px) {
  .container {
    width: 95%;
  }
}
.side-nav {
  top:60px;
}
.side-nav.fixed {
  left: inherit;
  width: inherit;
  height: 100%;
  z-index: 996;
}
  
@media only screen and (min-width: 601px){
  .side-nav {
    width: inherit;
    z-index: inherit;
    transform: translateX(0px) !important;
  }
}