{% extends 'account/view.html' %}
{% block subcontent %}
<div class="section">
  <div class="container">
    <div class="row">
      <h5>
        <span class="left">Contacts</span>
        <span class="right blue-text"><a href="/account/{{vars['account']['id']}}/contact/create"><i class="material-icons">add</i>Add</a></span>
      </h5>
    </div>
  </div>
</div>
<div class="divider"></div>
<div class="section">
  <div class="row">
    <div class="col s12">
      <table class="table">
        <thead>
          <tr>
            <th>Email</th>
            <th>Firstname</th>
            <th>Lastname</th>
          </tr>
        </thead>
        <tbody>
          {% if vars['contacts'] %}
            {% for key,value in vars['contacts'].items() %}
            <tr>
              <td><a href="/account/{{vars['account']['id']}}/contact/{{key}}/update">{{value['email']}}</a></td>
              <td>{{value['firstname']}}</td>
              <td>{{value['lastname']}}</td>
            </tr>
            {% endfor %}
          {% else %}
            <tr><td colspan="3" class="center">No data found.</td></tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}