<!DOCTYPE html>
<html>
  <head>
    {% if vars['environment']=='prd' or vars['environment']=='stg' %}
    <link type="text/css" rel="stylesheet" href="{{vars['cdn']['static']['endpoint']}}/assets/css/main.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{{vars['cdn']['static']['endpoint']}}/libraries/materialize/css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{{vars['cdn']['static']['endpoint']}}/assets/css/material-overwrite.css"  media="screen,projection"/>
    {% else %}
    <link type="text/css" rel="stylesheet" href="/assets/css/main.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/libraries/materialize/css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/assets/css/material-overwrite.css"  media="screen,projection"/>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <div id="header">
      {% block header %}{% endblock %}
    </div>
    <div id="notify"></div>
    <div id="content">
      {% block content %}{% endblock %}
    </div>
    <div id="footer">
      {% block footer %}{% endblock %}
    </div>
    {% if vars['environment']=='prd' or vars['environment']=='stg' %}
    <script type="text/javascript" src="{{vars['cdn']['static']['endpoint']}}/libraries/jquery/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{{vars['cdn']['static']['endpoint']}}/libraries/materialize/js/materialize.min.js"></script>
    {% else %}
    <script type="text/javascript" src="/libraries/jquery/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/libraries/materialize/js/materialize.min.js"></script>
    {% endif %}
    <script type="text/javascript">
      $('document').ready(function(){
        $('.tap-target').tapTarget('open');
        $(".button-collapse").sideNav();
      })
    </script>
  </body>
</html>