{% extends 'base.html' %}
{% block header %}
<div class="navbar-fixed">
  <nav class="blue">
    <div class="container">
      <div class="nav-wrapper">
        <a href="/dashboard" class="brand-logo">crm</a>
      </div>
    </div>
  </nav>
</div>
{% endblock %}
{% block content %}
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 m8 offset-m2 l8 offset-l2">
        <h5>Your Accounts</h5>
        <div class="divider"></div>
        <table class="table">
          <thead>
            <tr>
              <th>Organization</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Manage</th>
            </tr>
          </thead>
          <tbody>
            {% if vars['accounts'] %}
              {% for key,value in vars['accounts'].items() %}
              <tr>
                <td><a href="/account/{{key}}/view">{{value['organization']}}</a></td>
                <td>{{value['email']}}</td>
                <td>{{value['phone']}}</td>
                <td><a href="/account/{{key}}/update"><i class="material-icons">edit</i></a></td>
              </tr>
              {% endfor %}
            {% else %}
              <tr><td colspan="4" class="center">No data found.</td></tr>
            {% endif %}
          </tbody>
        </table>
      </div>  
    </div>
  </div>
</div>
<div class="fixed-action-btn">
  <a id="menu" class="btn-floating btn-large cyan" href="/account/create"><i class="large material-icons">add</i></a>
  <div class="tap-target cyan white-text" data-activates="menu">
    <div class="tap-target-content">
      <h5>Account</h5>
      <p>Click here to create a new account.</p>
    </div>
  </div> 
</div>
{% endblock %}
