{% extends 'account/view.html' %}
{% block subcontent %}
<div class="section">
  <div class="container">
    <div class="row">
      <a href="/account/{{vars['account']['id']}}/leads"><h5><i class="material-icons">keyboard_backspace</i> Back</h5></a>
    </div>
  </div>
</div>
<div class="divider"></div>
<div class="section">
  <div class="row">
    <div class="col m8 offset-m1 l8 offset-l1 s12">
      <form class="col s12" action="/account/{{vars['account']['id']}}/lead/create" method="POST">
        <div class="row">
          <div class="input-field col s6">
            <input id="firstname" type="text" name="firstname" class="validate">
            <label for="firstname">First Name</label>
          </div>
          <div class="input-field col s6">
            <input id="lastname" type="text" name="lastname" class="validate">
            <label for="lastname">Last Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="email" name="email" class="validate">
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="phone" type="text" name="phone" class="validate">
            <label for="phone">Phone</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <button class="waves-effect waves-light btn right" type="submit">Create A New Lead</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}