{% extends 'account/view.html' %}
{% block subcontent %}
<div class="section">
  <div class="container">
    <div class="row">
      <h5>
        <span class="left">Leads</span>
        <span class="right blue-text"><a href="/account/{{vars['account']['id']}}/lead/create"><i class="material-icons">add</i>Add</a></span>
      </h5>
    </div>
  </div>
</div>
<div class="divider"></div>
<div class="section">
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th>User Name</th>
          <th>Email</th>
          <th>Created</th>
        </tr>
      </thead>
      <tbody>
          {% if vars['leads'] %}
            {% for key,value in vars['leads'].items() %}
            <tr>
              <td><a href="/account/{{vars['account']['id']}}/lead/{{key}}/update">{{value['email']}}</a></td>
              <td>{{value['firstname']}}</td>
              <td>{{value['lastname']}}</td>
            </tr>
            {% endfor %}
          {% else %}
            <tr><td colspan="3" class="center">No data found.</td></tr>
          {% endif %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}